/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS reset ends*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    }

body {
    font-family: 'Roboto', sans-serif;
}
.wrap {
    max-width: 1000px;
    margin: 0 auto;
}
/*top-bar start*/
.top-bar {
    height: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightgray;
}
.top-bar a{
    padding-right: 15px;
    font-size: 13px;
    text-decoration: none;
}
.top-bar .fb {
    color: #4460a0;
}
.top-bar .tw {
    color:#3fb5ed;
}

/*header start*/
@media(max-width: 768px){
    .header {
        flex-direction: column;
        height: auto;
    }
    .header img {
        padding-bottom: 10px;
    }
    .header .nav {
         display: grid;
         grid-template-columns: 200px 200px;
         grid-row: auto auto;
         grid-column-gap: 20px;
         grid-row-gap: 20px;
    }
    .content-list {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        
    }
    .content-list li div{
        width: 300px;
        height: auto;
        margin-bottom: 20px;
    }
   .content-list li div h2 {
        font-size: 22px;
   }
   .content-list li div p,.jquery-list li {
    font-size: 18px;
   }
}
.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    box-shadow: 5px 10px 10px -15px #111; 
}
.header img {
    height: 37px;
}
.header .nav {
    display: flex;
}
.nav li a {
    text-decoration: none;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 15px;
    color: #00cc99;
}
.nav li a:hover {
    font-weight: bold;
    border-bottom: 3px solid #00cc99;
}

/*content start*/
.content-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

}
.content-list li {
    width: 30%;
    text-align: center;
    
}
.content-list li div {
    padding: 15px;
    border: 1px solid lightgray;
    height: 350px;
    border-radius: 5px;
}
.content-list li div h2 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
.content-list li div p {
    line-height: 1.5;
    
}
.jquery-list li {
    width: 100%;
    line-height: 1.5;
    height: auto;
    list-style: inside;
}
.jquery-list {
    padding-bottom: 13px;
}

.footer {
    color: gray;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    background-color: lightgray;
}


/*{
    Outline: 1px solid #000;
    }